<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('orderInfo列表')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>申购类型：</label>
                                <select class="form-control" name="orderType">
                                    <option value="">请选择申购类型</option>
                                    <option value="0">个人使用试剂申购</option>
                                    <option value="1">公用试剂、耗材短缺上报及订购</option>
                                </select>
                            </li>
                            <li>
                                <label>订购名称：</label>
                                <input type="text" name="orderName"/>
                            </li>
                            <li>
                                <label>制造商：</label>
                                <input type="text" name="manufacturer"/>
                            </li>
                            <li>
                                <label>供货商：</label>
                                <input type="text" name="dealer"/>
                            </li>
                            <li>
                                <label>货号：</label>
                                <input type="text" name="goodsid"/>
                            </li>
                            <li>
                                <label>存量情况：</label>
                                <select class="form-control" id="stockstate" name="stockstate"  required>
                                    <option value="" >请选择存量情况</option>
                                    <option value="0" >充足</option>
                                    <option value="1" >尚可</option>
                                    <option value="2" >不足</option>
                                </select>
                            </li>
                            <li>
                                <label>实验用途：</label>
                                <input type="text" name="experimentuse"/>
                            </li>
                            <li>
                                <label>订购时间：</label>
                                <input type="text" class="time-input" placeholder="请选择订购时间" name="orderTime"/>
                            </li>
                            <li>
                                <label>报价：</label>
                                <input type="text" name="offerPrice"/>
                            </li>
                            <li>
                                <label>审核状态</label>
                                <select class="form-control" id="checkstate" name="checkstate"  required>
                                    <option value="" >请选择审核状态</option>
                                    <option value="0" >待审核</option>
                                    <option value="1" >审核成功</option>
                                    <option value="2" >审核失败</option>
                                </select>
                            </li>
                            <li>
                                <label>三方：</label>
                                <select class="form-control" id="sanfang" name="sanfang"  required>
                                    <option value="" >请选择是否含三方</option>
                                    <option value="0" >不含三方</option>
                                    <option value="1" >含三方</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:orderInfo:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
     <script th:src="@{/js/jquery.min.js}"></script>
     <th:block th:include="include :: footer" />
     <th:block th:include="include :: select2-js" />
     <th:block th:include="include :: bootstrap-select-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:orderInfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:orderInfo:remove')}]];
        var sanFangUrl = [[${@permission.hasPermi('system:sanFangInfo:edit')}]];
        var prefix = ctx + "system/orderInfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                sanFangUrl:ctx+'system/sanFangInfo/edit/{id}',
                modalName: "订单",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '订购信息',
                    visible: false
                },
                {
                    field: 'orderType',
                    title: '申购类型',
                    formatter:function (value, row, index){
                        if(value === 0){
                            return '个人使用试剂申购'
                        }else if(value === 1){
                            return '公用试剂、耗材短缺上报及订购'
                        }else return '未知'
                    }
                },
                {
                    field: 'orderName',
                    title: '订购名称'
                },
                {
                    field: 'manufacturer',
                    title: '制造商'
                },
                {
                    field: 'dealer',
                    title: '供货商'
                },
                {
                    field: 'goodsid',
                    title: '货号'
                },
                {
                    field: 'stockstate',
                    title: '存量情况',
                    formatter:function (value,row,index){
                        if (value == 0) {
                            return '充足';
                        }else if (value === 1){
                            return '尚可';
                        }else {
                            return '不足'
                        }

                    }
                },
                {
                    field: 'orderUserName',
                    title: '订购人'
                },
                {
                    field: 'orderTime',
                    title: '订购时间'
                },
                {
                    field: 'offerPrice',
                    title: '报价'
                },
                {
                    field: 'checkstate',
                    title: '审核状态',
                    formatter:function (value,row,index){
                        if (value === 0) {
                            return '待审核';
                        }else if (value === 1){
                            return '审核成功';
                        }else {
                            return '审核失败'
                        }

                    }
                },
                {
                    field: 'checkUserName',
                    title: '审核人'
                },
                {
                    field: 'sanfang',
                    title: '是否含三方',
                    formatter:function (value,row,index){
                        if (value === 0) {
                            return '不含三方';
                        }else if (value === 1){
                            var action = [];
                            action.push('<a class="btn btn-success btn-xs ' + sanFangUrl + '" href="javascript:void(0)" onclick="sanFang(\'' + row.id + '\')"><i class="fa fa-edit"></i>查看三方</a> ');
                            return action.join('');
                        }else {
                            return '未知'
                        }

                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function  sanFang(id) {
            table.set();
            if($.common.isEmpty(id) && table.options.type == table_type.bootstrapTreeTable) {
                var row = $("#" + table.options.id).bootstrapTreeTable('getSelections')[0];
                if ($.common.isEmpty(row)) {
                    $.modal.alertWarning("请至少选择一条记录");
                    return;
                }
                var url = table.options.sanFangUrl.replace("{id}", row[table.options.uniqueId]);
                $.modal.open("修改" + sanFangInfo, url);
            } else {
                $.modal.open("查看三方"  , "sanFangInfo/sanFang/"+id);
            }
        }
    </script>
</body>
</html>