<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增sanFangInfo')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-sanFangInfo-add">
            <input type="hidden" name="orderid" th:value="${orderId}">
            <div class="form-group">    
                <label class="col-sm-3 control-label">供货商：</label>
                <div class="col-sm-8">
                    <input name="dealer" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数量：</label>
                <div class="col-sm-8">
                    <input name="count" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">价格：</label>
                <div class="col-sm-8">
                    <input name="price" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">选择状态：</label>
                <div class="col-sm-8">
                    <select class="form-control"  id="state"  name="state"  required>
                        <option value="" >请选择</option>
                        <option value="0" >选中</option>
                        <option value="1" >未选中</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <th:block th:include="include :: bootstrap-select-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/sanFangInfo"
        $("#form-sanFangInfo-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-sanFangInfo-add').serialize());
            }
        }
    </script>
</body>
</html>